.hftab-nb {
	border: none;
}

.hftab-nb td {
	border: none;
}

.hftab {
	border-collapse: collapse;
	border-style: hidden;
}

.hftab td,
.hftab th {
	border: none;
}

.hfpre {
	background-color: transparent !important;
	min-width: 15em;
}

.hfinfo {
	color: yellowgreen;
}

.fgred {
	color: red;
}

.hfsel {
	color: yellow;
}

.hresult {
	color: yellowgreen;
	word-wrap: break-word;
}

.hicons {
	text-align: center;
}

.hicons svg {
	margin-right: 10px;
	width: 1.5em;
	height: auto;
}

.hfmodalbtns {
	text-align: right;
	padding: 3px;
}

.hfbtn {
	border-radius: 6;
	padding: 3px;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.nopad td {
	padding: 0px;
}

.navblock {
	max-width: 10em;
	max-height: 10em;
	min-width: 10em;
	min-height: 10em;
	width: 10em;
	height: 10em;
}

.hexblock {
	max-width: 15em;
	max-height: 15em;
	min-width: 15em;
	min-height: 15em;
	width: 15em;
	height: 15em;
	margin-top: 1em;
}
