.hftab-nb {
	border: none;
}

.hftab-nb td {
	border: none;
}

.hftab {
	border-collapse: collapse;
	border-style: hidden;
}

.hftab td,
.hftab th {
	border: none;
}

.hresult {
	color: yellowgreen;
	word-wrap: break-word;
	margin-top: 2em;
}

.hfmodalbtns {
	text-align: right;
	padding: 3px;
	margin-top: 5px;
}

.hfbtn {
	border-radius: 6;
	padding: 3px;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.nopad td {
	padding: 0px;
}

/* Navigation */

.navblock {
	max-width: 8em;
	max-height: 8em;
	min-width: 8em;
	min-height: 8em;
	width: 8em;
	height: 8em;
	margin-left: 2em;
}

.hicons {
	text-align: center;
	width: 100%;
}

.hicons svg {
	margin-right: 10px;
	width: 1.5em;
	height: auto;
}

/* Hexflower main field */
.hexblock {
	max-width: 15em;
	max-height: 15em;
	min-width: 15em;
	min-height: 15em;
	width: 15em;
	height: 15em;
	margin-top: 1em;
}

.credentials {
	color: grey;
	font-size: small;
}
