.hftab-nb {
	border: none;
}

.hftab-nb td {
	border: none;
}

.hftab {
	border-collapse: collapse;
	border-style: hidden;
}

.hftab td,
.hftab th {
	border: 1px solid grey;
}

.hfpre {
	background-color: transparent !important;
}

.hfinfo {
	color: yellowgreen;
}

.fgred {
	color: red;
}

.hfsel {
	color: yellow;
}

.hresult {
	color: yellowgreen;
	word-wrap: break-word;
}

.hicons {
	text-align: left;
}

.hicons svg {
	margin-right: 5px;
	width: 1.5em;
	height: auto;
}

.hfmodalbtns {
	text-align: right;
	padding: 3px;
}

.hfbtn {
	border-radius: 6;
	padding: 3px;
	border: #ccc 1px solid;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.nopad td {
	padding: 0px;
}

.navtext {
	color: cadetblue;
	padding-right: 20px;
}
